.article-container header {
    background: rgb(17, 40, 143);
    color: #fff;
    text-align: center;
     /* Header Style */
}

.article-container header h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.article-container header a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}

.article-container header a:hover {
    color: #c9d60c;
    /* Pseudo class selector for a element */
}

.article-container header a:active {
    color: #18081a;
}

.line-center {
    display: table;
    margin: auto;
}

.box {
    display: inline-block;
    width: 600px;
    height: 450px;
    color: rgb(17, 40, 143);
    font-weight: 600;
    margin: 50px;
    border: 4px groove rgb(17, 40, 143);
    vertical-align: middle;
    overflow-y: auto;
     /* Set the style of news */
}

.article-container h2 {
    text-align: center;
    font-size: 25px;
}

.article-container h3 {
    color: black;
}

.back-span {
    float: right;
    font-size: 25px;
}
.fixed{
    position: fixed;
    margin-top: 200px ;
    margin-left: 10px;
}
.fixed a{
    color: #fff;
    text-decoration: none;
}
.fixed a:hover {
    color: #c9d60c;
    /* Pseudo class selector for a element */
}

.fixed a:active {
    color: #18081a;
}